#collection1 {
  [src="images/social-buttons.jpg"] {
    width: 90px;
    float: left;
  }
  [src="images/raw-logo-ignite.png"] {
    width: 280px;
    float: right;
  }
  [src="images/intro.jpg"] {
    width: 600px;
  }
}
